* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: none;
}

.btn:focus {
    border-color: none;
    box-shadow: none;
}

.navbar-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.navbar-btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu,
.dropdown-divider {
    padding: 0;
    margin: 0;
}

.dropdown-item {
    font-size: 15px;
}
