.nav-link.active {
    color: rgb(0, 121, 211) !important;
    margin-bottom: -6px;
    border-bottom: 3px solid rgb(0, 121, 211) !important;
}

.nav-link:hover {
    color: rgb(0, 121, 211) !important;
}

.stat-type {
    font-size: 14px;
}