{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block script %}
<script>
    {% include "js_dynamic/index.js" %}
</script>
{% endblock %}

{% block main %}

<a role="button" class="container btn btn-primary mb-3 btn-sm" href="{{url_for('newpost')}}">Create Post</a>

<div class="sort-container bg-white mb-3 p-2">
    {% if sort == "new" %}
    <a href="#" role="button" class="btn btn-sm rounded-pill fw-bold text-muted active">New</a>
    <a href="{{url_for('index', sort='top')}}" role="button" class="btn btn-sm rounded-pill fw-bold text-muted">Top</a>
    {% else %}
    <a href="{{url_for('index', sort='new')}}" role="button" class="btn btn-sm rounded-pill fw-bold text-muted">New</a>
    <a href="#" role="button" class="btn btn-sm rounded-pill fw-bold text-muted active">Top</a>
    {% endif %}
</div>

{% for post in posts %}
{% if post["active"] == 1 %}
<div class="bg-white p-2 mb-2 rounded a-post" onclick="window.location = `{{url_for('post', id=post['post_id'])}}`">
    <div class="row">
        <div class="d-flex justify-content-center maxwidth-md">
            <div class="col col-md-12 order-last order-md-first">
                <div id="votebox" class="d-flex align-items-center">
                    {% if post["vote"] == -1 %}
                    <div>
                        <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="icon-{{post['post_id']}}" class="fw-bold downvote-color" style="font-size: 11px;">{{
                        post["votes"] }}</div>
                    <div>
                        <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1 downvote-color">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% elif post["vote"] == 1 %}
                    <div>
                        <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1 upvote-color">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="icon-{{post['post_id']}}" class="fw-bold upvote-color" style="font-size: 11px;">
                        {{ post["votes"] }}</div>
                    <div>
                        <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% else %}
                    <div>
                        <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="icon-{{post['post_id']}}" class="fw-bold" style="font-size: 11px;">{{ post["votes"] }}
                    </div>
                    <div>
                        <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md order-first order-md-last ps-3 ps-md-0">
            <div class="text-muted" style="font-size: 11px;">
                Posted by <a class="profile-link text-muted" href="{{url_for('profile', user=post['username'])}}">
                    {{ post["username"] }}</a> {{ moment(post["date"]).fromNow() }}
            </div>
            <div class="text-break fw-bold" style="font-size: 15px;">
                {{ post["title"] }}
            </div>
            {% if (post["content"] | length) >= 200 %}
            <div class="small text-box text-break"
                style="mask-image: linear-gradient(white 60%, transparent); -webkit-mask-image: linear-gradient(white 60%, transparent);">
                {{ post["content"][:(850-(post["title"] | length))] }}
            </div>
            {% else %}
            <div class="small text-box text-break">
                {{ post["content"][:(850-(post["title"] | length))] }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}