{% extends "layout.html" %}

{% block main %}

<!--https://getbootstrap.com/docs/5.1/forms/floating-labels/-->
<div class="row mx-1">
    <div class="col"></div>
    <div class="col-md-5 bg-white p-3 rounded">
        <form action="{{url_for('login')}}" method="post">
            <div class="form-floating mb-3">
                <input type="username" class="form-control" id="lusername" placeholder="Username" autocomplete="off"
                    name="login_username">
                <label for="lusername">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="lpassword" placeholder="Password" autocomplete="off"
                    name="login_password">
                <label for="lpassword">Password</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
        <p class="small mt-4">Don't have an account? <a href="{{url_for('register')}}">Register</a></p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}