{% extends "layout.html" %}

{% block title %}
<title>Create Post - Forum</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/newpost.css')}}">
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/newpost.js')}}"></script>
{% endblock %}

{% block main %}

<!--TODO: Add autoresizable to title area and text area-->
<div class="mb-3 fw-bold">Create a post</div>
<hr style="border: 1px solid white">
<div class="bg-white p-3 rounded">
    <form action="{{url_for('newpost')}}" method="post">
        <div class="input-group mb-3">
            <input type="text" id="titleform" class="form-control form-control-sm" placeholder="Title" name="title" required
                maxlength="300" style="border-right: 0;">
            <span id="lettercounter" class="input-group-text bg-transparent text-muted fw-bold"><span id="counter">0</span>/300</span>
        </div>
        <div class="mb-3">
            <textarea class="form-control form-control-sm" rows="6" placeholder="Text (optional)" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-secondary btn-sm">Post</button>
    </form>
</div>

{% endblock %}