{% extends "layout.html" %}

<!--TODO: Add script link to static jquery.js-->
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    //TODO: python serverside check if datetime.now >= latest request on clicking button
    //TODO: check if textarea is empty serverside
    $(document).ready(function () {
        // Enables comment button if there is text inside of comment text area
        $("#commentarea").keyup(function () {
            if ($(this).val() != "" && $("#commentbtn").prop("disabled")) {
                $("#commentbtn").prop("disabled", false);
            } else if ($(this).val() == "" && !$("#commentbtn").prop("disabled")) {
                $("#commentbtn").prop("disabled", true);
            }
        })
        // Sends comment to server if textarea is not empty
        $("#commentbtn").click(function () {
            // Checks if comment area is not empty
            if ($("#commentarea").val() != "") {
                // https://stackoverflow.com/questions/3730359/get-id-from-url-with-jquery
                var url = window.location.pathname;
                var id = url.substring(url.lastIndexOf('/') + 1);
                $.ajax({
                    type: "POST",
                    url: "{{url_for('newcomment')}}",
                    contentType: "application/json; charset=UTF-8",
                    data: JSON.stringify({
                        "text": $('#commentarea').val(),
                        "post_id": id,
                    }),
                    dataType: "json",
                    beforeSend: function () {
                        // Disables button, hides button text and adds a spinning wheel from Bootstrap
                        $("#commentbtn").prop("disabled", true);
                        $("#commentbtn > .spinner-border").removeClass("visually-hidden");
                        $("#commentbtn > .btn-text").addClass("visually-hidden");
                    },
                    success: function (data) {
                        // Remove no comment label if it exists
                        if (data["nocomments"] == "true") {
                            $(".nocomments").remove();
                        }

                        // Insert comment into html
                        var str = ` <div class="row">
                                        <div class="col-md-1 stretch order-md-first"></div>
                                        <div class="col my-4 mx-2 order-sm-first order-first">
                                            <div class="fw-bold" style="font-size: 12px">
                                                ${data["username"]}
                                            </div>
                                            <div class="text-box text-break">
                                                ${data["text"]}
                                            </div>
                                            <div class="fw-bold" style="font-size: 11px">
                                                1
                                            </div>
                                        </div>
                                    </div>`
                        document.querySelector(".top-hr").insertAdjacentHTML('afterend', str);
                    },
                    error: function (e) {
                        console.log(e);
                    },
                    complete: function () {
                        // Clears text area, removes spinning wheel and restore button text
                        $("#commentarea").val("");
                        $("#commentbtn > .spinner-border").addClass("visually-hidden");
                        $("#commentbtn > .btn-text").removeClass("visually-hidden");
                    }
                });
            }
        })
    })
</script>
{% endblock %}

{% block main %}

<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="col-md-1 stretch order-md-first">TEST</div>
        <div class="col order-sm-first order-first">
            {% for post in posts %}
            <div class="text-muted" style="font-size: small">
                Posted by {{ post["username"] }}
            </div>
            <div class="h5 text-break">
                {{ post["title"] }}
            </div>
            <div class="small text-box text-break">
                {{ post["content"] }}
            </div>
            <div>
                {{ post["votes"] }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <textarea id="commentarea" class="form-control my-4" rows="5" placeholder="Place your comments here!"
                name="PLACEHOLDER"></textarea>
            <button id="commentbtn" class="btn btn-outline-secondary" disabled>
                <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                <span class="btn-text">Comment</span>
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="d-flex justify-content-center top-hr">
        <hr width='82%'>
    </div>

    {% for comment in comments %}
    <div class="row">
        <div class="col-md-1 stretch order-md-first"></div>
        <div class="col my-4 mx-2 order-sm-first order-first">
            <div class="fw-bold" style="font-size: 12px">
                {{ comment["username"] }}
            </div>
            <div class="text-box text-break">
                {{ comment["comment"] }}
            </div>
            <div class="fw-bold" style="font-size: 11px">
                {{ comment["votes"] }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not comments %}
    <div class="row nocomments">
        <div class="col-md-4"></div>
        <div class="col h3 fw-light text-break d-flex justify-content-center align-items-center" style="height: 400px;">
            No Comments Here
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
</div>

{% endblock %}