{% extends "layout.html" %}

{% block script %}
<script>
    {% include "js_dynamic/post.js" %}
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/post.css')}}">
{% endblock %}

{% block manualflash %}
<!--Manually flash message for button spam - taken from layout.html-->
<div class="toast-container position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050;">
    <div class="toast manual-flashbox" role="alert">
        <div class="toast-body p-0">
            <div class="alert alert-danger m-0" role="alert">
                Please wait 5 seconds to do that again.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}

{% for post in posts %}
<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="d-flex justify-content-center maxwidth-md">
            <div class="col col-md-12 order-last order-md-first">
                <div id="votebox" class="d-flex align-items-center">
                    {% if post["vote"] == -1 %}
                    <div>
                        <button id="postupvote-{{post['post_id']}}" class="upvote upvotepost btn btn-sm mx-1">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="posticon-{{post['post_id']}}" class="fw-bold downvote-color" style="font-size: 11px;">{{
                        post["votes"] }}</div>
                    <div>
                        <button id="postdownvote-{{post['post_id']}}"
                            class="downvote downvotepost btn btn-sm mx-1 downvote-color">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% elif post["vote"] == 1 %}
                    <div>
                        <button id="postupvote-{{post['post_id']}}"
                            class="upvote upvotepost btn btn-sm mx-1 upvote-color">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="posticon-{{post['post_id']}}" class="fw-bold upvote-color" style="font-size: 11px;">
                        {{ post["votes"] }}</div>
                    <div>
                        <button id="postdownvote-{{post['post_id']}}" class="downvote downvotepost btn btn-sm mx-1">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% else %}
                    <div>
                        <button id="postupvote-{{post['post_id']}}" class="upvote upvotepost btn btn-sm mx-1">
                            <i class="fas fa-caret-up fa-2x"></i>
                        </button>
                    </div>
                    <div id="posticon-{{post['post_id']}}" class="fw-bold" style="font-size: 11px;">{{ post["votes"] }}
                    </div>
                    <div>
                        <button id="postdownvote-{{post['post_id']}}" class="downvote downvotepost btn btn-sm mx-1">
                            <i class="fas fa-caret-down fa-2x"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md order-first order-md-last ps-3 ps-md-0">
            <div class="text-muted" style="font-size: 11px;">
                Posted by {% if post["active"] == 1 %}
                <a class="profile-link text-muted" href="{{url_for('profile', user=post['username'])}}">{{
                    post["username"] }}</a>
                {% else %} [deleted] {% endif %}
                {{ moment(post["date"]).fromNow() }}
            </div>
            <div class="text-break fw-bold" style="font-size: 15px;">
                {{ post["title"] }}
            </div>
            <div class="small text-box text-break">
                {% if post["active"] == 1 %} {{ post["content"] }} {% else %} [deleted] {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="maxwidth-md">
            <div class="col-md-1"></div>
        </div>
        <div class="col">
            <textarea id="commentarea" class="form-control form-control-sm my-4" rows="5"
                placeholder="Place your comments here!" name="PLACEHOLDER"></textarea>
            <button id="commentbtn" class="btn btn-outline-secondary btn-sm" disabled>
                <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                <span class="btn-text">Comment</span>
            </button>
            <hr>
        </div>
        <div class="maxwidth-md">
            <div class="col-md-1"></div>
        </div>
    </div>

    <!--Needed to insert comments-->
    <div class="top-hr"></div>

    {% for comment in comments %}
    {% if comment["active"] == 1 %}
    <div id="comment-{{comment['comment_id']}}" class="row" style="margin-left: -3px; margin-right: -3px;">
        <div class="col-md-1" style="max-width: 55px;">
            <a class="pic-link" href="{{url_for('profile', user=comment['username'])}}">
                <img src="/static/img/profiles/{{comment['pic']}}" class="img-fluid rounded-circle"
                    style="margin-top: 9px; position: relative; z-index: 1;"></a>
        </div>
        <div class="col my-3 ps-0">
            <div style="font-size: 12px">
                <a class="profile-link black-text" href="{{url_for('profile', user=comment['username'])}}"
                    style="font-size: 11px;">{{ comment["username"] }}</a>
                {% if posts[0]["username"] == comment["username"] %}
                <span class="text-primary fw-bold">OP</span> {% endif%}
                &#183; <span class="text-muted">{{ moment(comment["date"]).fromNow() }}</span>
            </div>
            <div class="text-box text-break" style="font-size: 14px;">
                {{ comment["comment"] }}
            </div>
            <div id="votebox2" class="hstack">
                {% if comment["vote"] == -1 %}
                <div>
                    <button id="commentupvote-{{comment['comment_id']}}" class="upvote upvotecomment btn btn-sm mx-1">
                        <i class="fas fa-caret-up fa-2x"></i>
                    </button>
                </div>
                <div id="commenticon-{{comment['comment_id']}}" class="fw-bold downvote-color" style="font-size: 11px;">
                    {{ comment["votes"] }}
                </div>
                <div>
                    <button id="commentdownvote-{{comment['comment_id']}}"
                        class="downvote downvotecomment btn btn-sm mx-1 downvote-color">
                        <i class="fas fa-caret-down fa-2x"></i>
                    </button>
                </div>
                {% elif comment["vote"] == 1 %}
                <div>
                    <button id="commentupvote-{{comment['comment_id']}}"
                        class="upvote upvotecomment btn btn-sm mx-1 upvote-color">
                        <i class="fas fa-caret-up fa-2x"></i>
                    </button>
                </div>
                <div id="commenticon-{{comment['comment_id']}}" class="fw-bold upvote-color" style="font-size: 11px;">
                    {{ comment["votes"] }}
                </div>
                <div>
                    <button id="commentdownvote-{{comment['comment_id']}}"
                        class="downvote downvotecomment btn btn-sm mx-1">
                        <i class="fas fa-caret-down fa-2x"></i>
                    </button>
                </div>
                {% else %}
                <div>
                    <button id="commentupvote-{{comment['comment_id']}}" class="upvote upvotecomment btn btn-sm mx-1">
                        <i class="fas fa-caret-up fa-2x"></i>
                    </button>
                </div>
                <div id="commenticon-{{comment['comment_id']}}" class="fw-bold" style="font-size: 11px;">
                    {{ comment["votes"] }}
                </div>
                <div>
                    <button id="commentdownvote-{{comment['comment_id']}}"
                        class="downvote downvotecomment btn btn-sm mx-1">
                        <i class="fas fa-caret-down fa-2x"></i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% if not comments %}
    <div class="row nocomments">
        <div class="col-md-4"></div>
        <div class="col text-break d-flex justify-content-center align-items-center fw-bold text-muted"
            style="height: 400px; font-size: 17px;">
            No Comments Here
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
</div>

{% if scroll %}
<script>
    {% include "js_dynamic/post_scroll.js" %}
</script>
{% endif %}

{% endblock %}