{% extends "layout.html" %}

<!--TODO: Move all script stuff to static folder-->
{% block script %}
<script>
    $(document).ready(function () {
        var locked = false;
        var toastShown = false;
        var toast = new bootstrap.Toast(document.querySelector(".manual-flashbox"));

        $(".manual-flashbox").click(function () {
            hideToast();
        })

        // Enables comment button if there is text inside of comment text area
        $("#commentarea").keyup(function () {
            if ($(this).val() != "" && $("#commentbtn").prop("disabled")) {
                $("#commentbtn").prop("disabled", false);
            } else if ($(this).val() == "" && !$("#commentbtn").prop("disabled")) {
                $("#commentbtn").prop("disabled", true);
            }
        })
        
        // Sends comment to server if textarea is not empty
        $("#commentbtn").click(function () {
            // Checks if comment area is not empty
            if ($("#commentarea").val() != "") {
                // https://stackoverflow.com/questions/15963687/prevent-spamming-of-button-to-call-function
                if (!locked) {
                    locked = true;
                    setTimeout(unlock, 5000);
                    sendRequestAddComment();
                } else {
                    if (!toastShown) {
                        toast.show();
                        toastShown = true;
                    }
                }
            }
        })

        // Called to unlock button after setTimeout expires
        function unlock() {
            locked = false;
            toastShown = false;
        }

        // Called when toast is clicked to hide
        function hideToast() {
            toast.hide();
            toastShown = false;
        }

        function sendRequestAddComment() {
            // https://stackoverflow.com/questions/3730359/get-id-from-url-with-jquery
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf('/') + 1);
            $.ajax({
                type: "POST",
                url: "{{url_for('newcomment')}}",
                contentType: "application/json; charset=UTF-8",
                data: JSON.stringify({
                    "text": $('#commentarea').val(),
                    "post_id": id,
                }),
                dataType: "json",
                beforeSend: function () {
                    // Disables button, hides button text and adds a spinning wheel from Bootstrap
                    $("#commentbtn").prop("disabled", true);
                    $("#commentbtn > .spinner-border").removeClass("visually-hidden");
                    $("#commentbtn > .btn-text").addClass("visually-hidden");
                },
                success: function (data) {
                    // Remove no comment label if it exists
                    if (data["nocomments"] == "true") {
                        $(".nocomments").remove();
                    }

                    // Checks if commenter if OP
                    function isOP() {
                        return (data["username"] == data["username_op"] ? true : false);
                    }

                    // Insert comment into html
                    var str = ` <div class="row">
                                    <div class="col-md-1 stretch order-md-first"></div>
                                    <div class="col my-4 mx-2 order-sm-first order-first">
                                        <div style="font-size: 12px">
                                            <span class="fw-bold">${data["username"]} 
                                                ${isOP() ? `<span class="text-primary">OP</span>` : ''}
                                                    </span> 
                                                &#183; <span class="text-muted">just now</span>
                                        </div>
                                        <div class="text-box text-break">
                                            ${data["text"]}
                                        </div>
                                        <div class="fw-bold" style="font-size: 11px">
                                            1
                                        </div>
                                    </div>
                                </div>`
                    document.querySelector(".top-hr").insertAdjacentHTML('afterend', str);
                },
                error: function (e) {
                    console.log(e);
                },
                complete: function () {
                    // Clears text area, removes spinning wheel and restore button text
                    $("#commentarea").val("");
                    $("#commentbtn > .spinner-border").addClass("visually-hidden");
                    $("#commentbtn > .btn-text").removeClass("visually-hidden");
                }
            });
        }
    })
</script>
{% endblock %}

{% block manualflash %}
<!--Manually flash message for button spam - taken from layout.html-->
<div class="toast-container position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050;">
    <div class="toast manual-flashbox" role="alert">
        <div class="toast-body p-0">
            <div class="alert alert-danger m-0" role="alert">
                Please wait 5 seconds to do that again.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}

<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="col-md-1 stretch order-md-first">TEST</div>
        <div class="col order-sm-first order-first">
            {% for post in posts %}
            <div class="text-muted" style="font-size: small">
                Posted by {% if post["active"] == 1 %} {{ post["username"] }} {% else %} [deleted] {% endif %} 
                {{ moment(post["date"]).fromNow() }}
            </div>
            <div class="h5 text-break">
                {{ post["title"] }}
            </div>
            <div class="small text-box text-break">
                {% if post["active"] == 1 %} {{ post["content"] }} {% else %} [deleted] {% endif %} 
            </div>
            <div>
                {{ post["votes"] }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="bg-white p-2 mb-3 rounded a-post">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col">
            <textarea id="commentarea" class="form-control my-4" rows="5" placeholder="Place your comments here!"
                name="PLACEHOLDER"></textarea>
            <button id="commentbtn" class="btn btn-outline-secondary" disabled>
                <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                <span class="btn-text">Comment</span>
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="d-flex justify-content-center top-hr">
        <hr width='82%'>
    </div>

    {% for comment in comments %}
    <div class="row">
        <div class="col-md-1 stretch order-md-first"></div>
        <div class="col my-4 mx-2 order-sm-first order-first">
            <div style="font-size: 12px">
                <span class="fw-bold">{% if comment["active"] == 1 %} {{ comment["username"] }} {% else %} [deleted] 
                    {% endif %} {% if posts[0]["username"] == comment["username"] %}
                    <span class="text-primary">OP</span> {% endif%} </span>
                &#183; <span class="text-muted">{{ moment(comment["date"]).fromNow() }}</span>
            </div>
            <div class="text-box text-break">
                {{ comment["comment"] }}
            </div>
            <div class="fw-bold" style="font-size: 11px">
                {{ comment["votes"] }}
            </div>
        </div>
    </div>
    {% endfor %}
    {% if not comments %}
    <div class="row nocomments">
        <div class="col-md-4"></div>
        <div class="col h3 fw-light text-break d-flex justify-content-center align-items-center" style="height: 400px;">
            No Comments Here
        </div>
        <div class="col-md-4"></div>
    </div>
    {% endif %}
</div>

{% endblock %}