{% extends "layout.html" %}

{% block title %}
<title>{{ user }} - Forum</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profilecomments.css')}}">
{% endblock %}

{% block script %}
<script href="{{url_for('static', filename='js/profilecomments.js')}}"></script>
{% endblock %}

{% block profilenavbar %}
<nav class="navbar navbar-expand navbar-light bg-white border-bottom py-0">
    <div class="container">
        <div class="navbar-nav py-1" style="font-size: 14px;">
            <a class="nav-link" href="{{url_for('profile', user=user)}}">OVERVIEW</a>
            <a class="nav-link" href="{{url_for('profile-posts', user=user)}}">POSTS</a>
            <a class="nav-link active" href="#">COMMENTS</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}

<div>
    {% if comments %}
    <div class="a-block bg-white p-2 text-break border" style="font-size: 11px;"
        onclick="window.location = `{{url_for('post', id=comments[0]['post_id'])}}`">
        <a class="profile-link" href="{{url_for('profile', user=user)}}">{{user}}</a>
        <span class="text-muted">commented on
            <a class="post-link black-text text-muted" href="{{url_for('post', id=comments[0]['post_id'])}}">{{
                comments[0]["title"] }}</a>
            &#183; Posted by
            {% if comments[0]["active"] == 1 %}
            <a class="profile-link text-muted" href="{{url_for('profile', user=comments[0]['username'])}}">
                {{comments[0]["username"]}}
            </a>
            {% else %}
            [deleted]
            {% endif %}
        </span>
    </div>
    {% set ns = namespace(match=comments[0]["title"]) %}
    {% endif %}
    {% for comment in comments %}
    {% if ns.match != comment["title"] %}
    <div class="a-block bg-white p-2 text-break border mt-1" style="font-size: 11px;"
        onclick="window.location = `{{url_for('post', id=comment['post_id'])}}`">
        <a class="profile-link" href="{{url_for('profile', user=user)}}">{{user}}</a>
        <span class="text-muted">commented on
            <a class="post-link black-text text-muted" href="{{url_for('post', id=comment['post_id'])}}">{{
                comment["title"] }}</a> &#183; Posted by
            {% if comment["active"] == 1 %}
            <a class="profile-link text-muted" href="{{url_for('profile', user=comment['username'])}}">
                {{comment["username"]}}
            </a>
            {% else %}
            [deleted]
            {% endif %}
        </span>
    </div>
    {% set ns.match = comment["title"] %}
    {% endif %}
    <div class="a-block bg-white p-2 text-break border"
        onclick="window.location = `{{url_for('post', id=comment['post_id'], scroll=comment['comment_id'])}}`">
        <div class="row">
            <div class="d-md-block d-none" style="width: 30px;"></div>
            <div class="col">
                <div style="font-size: 10.5px;">
                    <a class="profile-link black-text" href="{{url_for('profile', user=user)}}">{{user}}</a>
                    {% if user == comment["username"] %} <span class="text-primary fw-bold">OP</span>
                    {% endif%} <span class="text-muted">{{ comment["votes"] }} points &#183;
                        {{moment(comment["date"]).fromNow() }}</span>
                </div>
                <div style="font-size: 14px;">
                    {{ comment["comment"] }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="m-4"></div>
</div>

{% if not comments %}
<div class="row nocomments">
    <div class="col-md-3"></div>
    <div class="col text-break d-flex justify-content-center align-items-center fw-bold" style="height: 400px; font-size: 17px;">
        @{{user}} hasn't commented anything
    </div>
    <div class="col-md-3"></div>
</div>
{% endif %}

{% endblock %}