{% extends "layout.html" %}

{% block title %}
<title>{{ user }} - Forum</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block profilenavbar %}
<nav class="navbar navbar-expand navbar-light bg-white border-bottom py-0">
    <div class="container">
        <div class="navbar-nav py-1" style="font-size: 14px;">
            <a class="nav-link active" href="#">OVERVIEW</a>
            <a class="nav-link" href="{{url_for('profile-posts', user=user)}}">POSTS</a>
            <a class="nav-link" href="{{url_for('profile-comments', user=user)}}">COMMENTS</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}

<div class="bg-white p-5 rounded border">
    <div class="d-flex justify-content-center">
        <img src="{{picture}}" id="profilepic" class="img-thumbnail rounded-circle"
            style="width: 120px; height: 120px; object-fit: cover;">
    </div>
    <div class="d-flex justify-content-center mb-4">@{{ user }}</div>
    <div class="row text-center justify-content-evenly">
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-1">
            <div>{{ total_rep }}</div>
            <div class="stat-type">Rep</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-1">
            <div>{{ post_contribution }}</div>
            <div class="stat-type">Posts</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-1">
            <div>{{ comment_contribution }}</div>
            <div class="stat-type">Comments</div>
        </div>
    </div>
</div>

{% endblock %}