{% extends "layout.html" %}

{% block profilenavbar %}
<nav class="navbar navbar-expand navbar-light bg-white border-bottom py-0">
    <div class="container">
        <div class="navbar-nav py-1" style="font-size: 14px;">
            <a class="nav-link active" href="#">OVERVIEW</a>
            <a class="nav-link" href="{{url_for('profile-posts', user=user)}}">POSTS</a>
            <a class="nav-link" href="{{url_for('profile-comments', user=user)}}">COMMENTS</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}

<div class="bg-white p-5 border rounded" style="height: 500px;">
    <div class="d-flex justify-content-center" style="height: 7rem;">
        <img src="/static/images/profiles/default.jpg" class="img-fluid img-thumbnail rounded-circle">
    </div>
    <div class="d-flex justify-content-center mb-5">@{{ user }}</div>
    <div class="row text-center justify-content-evenly">
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ total_rep }}</div>
            <div>Rep</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ post_contribution }}</div>
            <div>Posts</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ comment_contribution }}</div>
            <div>Comments</div>
        </div>
    </div>
</div>

{% endblock %}