{% extends "layout.html" %}

{% block title %}
<title>{{ user }} - Forum</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profileposts.css')}}">
{% endblock %}

{% block script %}
<script>
    {% include "js_dynamic/profileposts.js" %}
</script>
{% endblock %}

{% block profilenavbar %}
<nav class="navbar navbar-expand navbar-light bg-white border-bottom py-0">
    <div class="container">
        <div class="navbar-nav py-1" style="font-size: 14px;">
            <a class="nav-link" href="{{url_for('profile', user=user)}}">OVERVIEW</a>
            <a class="nav-link active" href="#">POSTS</a>
            <a class="nav-link" href="{{url_for('profile-comments', user=user)}}">COMMENTS</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}

<div>
    {% for post in posts %}
    <div class="bg-white p-2 a-post" onclick="window.location = `{{url_for('post', id=post['post_id'])}}`">
        <div class="row">
            <div class="d-flex justify-content-center maxwidth-md">
                <div class="col col-md-12 order-last order-md-first">
                    <div id="votebox" class="d-flex align-items-center">
                        {% if post["vote"] == -1 %}
                        <div>
                            <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1">
                                <i class="fas fa-caret-up fa-2x"></i>
                            </button>
                        </div>
                        <div id="icon-{{post['post_id']}}" class="fw-bold downvote-color" style="font-size: 11px;">{{
                            post["votes"] }}</div>
                        <div>
                            <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1 downvote-color">
                                <i class="fas fa-caret-down fa-2x"></i>
                            </button>
                        </div>
                        {% elif post["vote"] == 1 %}
                        <div>
                            <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1 upvote-color">
                                <i class="fas fa-caret-up fa-2x"></i>
                            </button>
                        </div>
                        <div id="icon-{{post['post_id']}}" class="fw-bold upvote-color" style="font-size: 11px;">
                            {{ post["votes"] }}</div>
                        <div>
                            <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1">
                                <i class="fas fa-caret-down fa-2x"></i>
                            </button>
                        </div>
                        {% else %}
                        <div>
                            <button id="upvote-{{post['post_id']}}" class="upvote btn btn-sm mx-1">
                                <i class="fas fa-caret-up fa-2x"></i>
                            </button>
                        </div>
                        <div id="icon-{{post['post_id']}}" class="fw-bold" style="font-size: 11px;">{{ post["votes"] }}
                        </div>
                        <div>
                            <button id="downvote-{{post['post_id']}}" class="downvote btn btn-sm mx-1">
                                <i class="fas fa-caret-down fa-2x"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md order-first order-md-last ps-3 ps-md-0">
                <div class="text-break fw-bold" style="font-size: 15px;">
                    {{ post["title"] }}
                </div>
                <div class="text-muted" style="font-size: 11px;">
                    Posted by <a class="profile-link text-muted" href="{{url_for('profile', user=user)}}">
                        {{ user }}</a> {{ moment(post["date"]).fromNow() }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="m-4"></div>
</div>

{% if not posts %}
<div class="row nocomments">
    <div class="col-md-3"></div>
    <div class="col text-break d-flex justify-content-center align-items-center fw-bold" style="height: 400px; font-size: 17px;">
        @{{user}} hasn't posted anything
    </div>
    <div class="col-md-3"></div>
</div>
{% endif %}

{% endblock %}