{% extends "layout.html" %}

{% block style %}
<style>
    .nav-link.active {
        color: rgb(0, 121, 211) !important;
        margin-bottom: -6px;
        border-bottom: 3px solid rgb(0, 121, 211) !important;
    }

    .nav-link:hover {
        color: rgb(0, 121, 211) !important;
    }

    .profile-container {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .profile-container:hover {
        border: 1px solid rgba(0, 0, 0, 0.7);
    }
</style>
{% endblock %}

{% block profilenavbar %}
<nav class="navbar navbar-expand navbar-light bg-white border-bottom py-0">
    <div class="container">
        <div class="navbar-nav py-1" style="font-size: 14px;">
            <a class="nav-link active" href="#">OVERVIEW</a>
            <a class="nav-link" href="{{url_for('profile-posts', user=user)}}">POSTS</a>
            <a class="nav-link" href="{{url_for('profile-comments', user=user)}}">COMMENTS</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}

<div class="profile-container bg-white p-5 rounded">
    <div class="d-flex justify-content-center">
        <img src="{{pic}}" id="profilepic" class="img-thumbnail rounded-circle"
            style="width: 120px; height: 120px; object-fit: cover;">
    </div>
    <div class="d-flex justify-content-center mb-4">@{{ user }}</div>
    <div class="row text-center justify-content-evenly">
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ total_rep }}</div>
            <div>Rep</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ post_contribution }}</div>
            <div>Posts</div>
        </div>
        <div class="col-lg-3 col-sm-5 bg-light m-1 p-2">
            <div>{{ comment_contribution }}</div>
            <div>Comments</div>
        </div>
    </div>
</div>

{% endblock %}