{% extends "layout.html" %}

{% block main %}
<!--https://getbootstrap.com/docs/5.1/forms/floating-labels/-->
<div class="row mx-1">
    <div class="col"></div>
    <div class="col-md-5 bg-white p-3 rounded">
        <form action="{{url_for('register')}}" method="post">
            <div class="form-floating mb-3">
                <input type="username" class="form-control" id="rusername" placeholder="Username" autocomplete="off"
                    name="register_username">
                <label for="rusername">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="rpassword" placeholder="Password" autocomplete="off"
                    name="register_password">
                <label for="rpassword">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="rconfirmation" placeholder="Confirm Password"
                    autocomplete="off" name="register_confirmation">
                <label for="rconfirmation">Confirm Password</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock %}