{% extends "layout.html" %}

{% block script %}
<script>
    $("body").css("background-color", "white");
    $("#statusmsg-pass").hide();

    var oldPassVisible = false;
    var newPassVisible = false;
    var confirmPassVisible = false;

    $(document).ready(function () {
        // Change password form
        $("#passform").on("submit", function (e) {
            e.preventDefault();
            sendRequestChangePass();
        })

        // Upload profile picture
        $("#fileupload").on("change", function () {
            uploadPicture();
        })

        // Remove profile picture
        $("#removepic").on("click", function () {
            var path = $("#profilepic").prop("src").split("/");
            if (path[path.length - 1] != "default.jpg") {
                removePicture();
            }
        })

        // Enables terminate button in modal
        $("#confirmation").on("keyup", function (e) {
            if ($(this).val() == `{{username}}`) {
                $("#confirmationbtn").prop("disabled", false);
            } else {
                $("#confirmationbtn").prop("disabled", true);
            }
        })

        // Clears input and disables button to prevent misclicks
        $(".modal").on("hidden.bs.modal", function () {
            $("#confirmation").val("");
            $("#confirmationbtn").prop("disabled", true);
        })

        // Focus on input once modal is shown
        $(".modal").on("shown.bs.modal", function () {
            $("#confirmation").focus();
        })
    })

    function removePicture() {
        $.ajax({
            type: "POST",
            url: "{{url_for('removepic')}}",
            dataType: "text",
            beforeSend: function () {
                $("#removepic > .spinner-border").removeClass("visually-hidden");
                $("#removepic > .btn-text").addClass("visually-hidden");
            },
            success: function (data) {
                if (data != "") {
                    $("#profilepic").prop("src", data);
                }
            },
            error: function (e) {
                console.log(e);
            },
            complete: function () {
                $("#removepic > .spinner-border").addClass("visually-hidden");
                $("#removepic > .btn-text").removeClass("visually-hidden");
            }
        })
    }

    function uploadPicture() {
        // https://stackoverflow.com/questions/21044798/how-to-use-formdata-for-ajax-file-upload
        var form = $("#picform")[0];
        var formData = new FormData(form);
        $.ajax({
            type: "POST",
            url: "{{url_for('uploadpic')}}",
            contentType: false,
            processData: false,
            dataType: "json",
            data: formData,
            beforeSend: function () {
                $("#pic-loading").removeClass("visually-hidden");
            },
            success: function (data) {
                if (data["status"] == "error") {
                    $("#statusmsg-pic").text(data["msg"]);
                    $("#statusmsg-pic").css("color", "red");
                } else {
                    $("#statusmsg-pic").text(data["msg"]);
                    $("#statusmsg-pic").css("color", "green");
                    $("#profilepic").prop("src", data["newpic"]);
                }
            },
            error: function (e) {
                console.log(e);
            },
            complete: function () {
                $("#pic-loading").addClass("visually-hidden");
            }
        })
    }

    function sendRequestChangePass() {
        $.ajax({
            type: "POST",
            url: "{{url_for('changepass')}}",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            data: $("#passform").serialize(),
            beforeSend: function () {
                // Disables button, hides button text and adds a spinning wheel from Bootstrap
                $("#chngpassbtn > .spinner-border").removeClass("visually-hidden");
                $("#chngpassbtn > .btn-text").addClass("visually-hidden");
            },
            success: function (data) {
                if (data["status"] == "error") {
                    $("#statusmsg-pass").css("color", "red");
                } else {
                    $("#statusmsg-pass").css("color", "green");
                    resetPassForm();
                }
                $("#statusmsg-pass").text(data["msg"]);
                $("#statusmsg-pass").show();
            },
            error: function (e) {
                console.log(e);
            },
            complete: function () {
                $("#chngpassbtn > .spinner-border").addClass("visually-hidden");
                $("#chngpassbtn > .btn-text").removeClass("visually-hidden");
            }
        });
    }

    function resetPassForm() {
        document.querySelector("#passform").reset();
        oldPassVisible = true;
        newPassVisible = true;
        confirmPassVisible = true;
        showOldPass();
        showNewPass();
        showConfirmPass();
    }

    // TODO: Refactor these "show" functions - duplication - parameterize
    function showOldPass() {
        var passwordInputs = document.querySelector("#oldpass");
        var element = document.querySelector("#oldpassicon");
        if (!oldPassVisible) {
            passwordInputs.type = "text";
            element.innerHTML = "&#xf070;";
            oldPassVisible = true;
        } else {
            passwordInputs.type = "password";
            element.innerHTML = "&#xf06e;";
            oldPassVisible = false;
        }
    }

    function showNewPass() {
        var passwordInputs = document.querySelector("#newpass");
        var element = document.querySelector("#newpassicon");
        if (!newPassVisible) {
            passwordInputs.type = "text";
            element.innerHTML = "&#xf070;";
            newPassVisible = true;
        } else {
            passwordInputs.type = "password";
            element.innerHTML = "&#xf06e;";
            newPassVisible = false;
        }
    }

    function showConfirmPass() {
        var passwordInputs = document.querySelector("#confirmpass");
        var element = document.querySelector("#confirmpassicon");
        if (!confirmPassVisible) {
            passwordInputs.type = "text";
            element.innerHTML = "&#xf070;";
            confirmPassVisible = true;
        } else {
            passwordInputs.type = "password";
            element.innerHTML = "&#xf06e;";
            confirmPassVisible = false;
        }
    }

</script>
{% endblock %}

{% block style %}
<style>
    hr {
        opacity: 0.1;
    }

    .headings {
        font-size: 10px;
        margin-bottom: -12px;
    }

    .content {
        margin-bottom: 1rem;
    }

    /* https://stackoverflow.com/questions/19571955/how-to-make-modal-dialog-with-blur-background-using-twitter-bootstrap */
    .modal-open .content-container {
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
    }
</style>
{% endblock %}

{% block main %}
<h5 class="mb-3">Settings</h5>
<div class="bg-white p-1 border">
    <div>
        <div class="headings text-muted fw-bold">PROFILE</div>
        <hr>
    </div>
    <div class="content">
        <div>
            <div class="my-2 col-12 col-lg-8 col-md-9 d-flex justify-content-md-start justify-content-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{{pic}}" id="profilepic" class="img-thumbnail rounded-circle mb-1"
                        style="width: 120px; height: 120px; object-fit: cover;">
                    <span id="pic-loading" class="spinner-border visually-hidden" role="status" aria-hidden="true"
                        style="position: absolute;"></span>
                </div>
            </div>
            <!--https://getbootstrap.com/docs/5.1/forms/form-control/?#file-input-->
            <form id="picform">
                <div class="my-2 col-12 col-lg-8 col-md-9">
                    <input id="fileupload" class="form-control form-control-sm" type="file" name="file"
                        accept="image/*">
                </div>
            </form>
            <div id="statusmsg-pic" class="small"></div>
            <button id="removepic" class="btn btn-outline-secondary btn-sm mt-2">
                <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                <span class="btn-text">Remove Profile Picture</span>
            </button>
        </div>
    </div>
    <div>
        <div class="headings text-muted fw-bold">ACCOUNT</div>
        <hr>
    </div>
    <div class="content">
        <div>
            <span style="font-size: 14px;">Change password</span>
            <!--https://getbootstrap.com/docs/5.1/forms/overview/-->
            <form id="passform" class="mt-1">
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">OLD PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="oldpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="oldpass" name="oldpass">
                            <span class="input-group-text" onclick="showOldPass()"><span class="fa"
                                    id="oldpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">NEW PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="newpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="newpass" name="newpass">
                            <span class="input-group-text" onclick="showNewPass()"><span class="fa"
                                    id="newpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">CONFIRM NEW PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="confirmpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="confirmpass"
                                name="confirmpass">
                            <span class="input-group-text" onclick="showConfirmPass()"><span class="fa"
                                    id="confirmpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3"></div>
                    <div class="col-10 col-md-6">
                        <button id="chngpassbtn" type="submit" class="btn btn-outline-secondary btn-sm">
                            <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                                aria-hidden="true"></span>
                            <span class="btn-text">Save</span></button>
                        <label class="mx-1" id="statusmsg-pass" style="font-size: 14px;"></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="headings text-muted fw-bold">DEACTIVATE ACCOUNT</div>
        <hr>
    </div>
    <div class="content">
        <div>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#deactivateModal">
                <span style="font-size: 12px;">DEACTIVATE ACCOUNT</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
<!--https://getbootstrap.com/docs/5.1/components/modal/-->
<div class="modal" id="deactivateModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{{url_for('deactivateaccount')}}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label col-form-label-sm">Are you sure? This action will permanently remove
                        your access to the account "<strong>{{username}}</strong>".</label>
                    <ul class="small">
                        <li>The creation of the same username will not be eligible.</li>
                        <li>All posts, comments you've made will remain on the forum.</li>
                    </ul>
                    <label class="col-form-label col-form-label-sm">Please type "<strong>{{username}}</strong>" to
                        confirm.</label>
                    <input type="text" class="form-control form-control-sm" id="confirmation" name="confirmation">
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-outline-primary btn-sm rounded-pill p-2"
                        data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-danger btn-sm rounded-pill p-2" id="confirmationbtn"
                        disabled>DEACTIVATE</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}