{% extends "layout.html" %}

{% block title %}
<title>Settings - Forum</title>
{% endblock %}

{% block script %}
<script>
    {% include "js_dynamic/settings.js" %}
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
{% endblock %}

{% block main %}
<div class="mb-3 fw-bold">Settings</div>
<div class="bg-white p-1">
    <div>
        <div class="headings text-muted fw-bold">PROFILE</div>
        <hr>
    </div>
    <div class="content mb-5">
        <div>
            <div class="my-2 col-12 col-lg-8 col-md-9 d-flex justify-content-md-start justify-content-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{{picture}}" id="profilepic" class="img-thumbnail rounded-circle mb-1"
                        style="width: 120px; height: 120px; object-fit: cover;">
                    <span id="pic-loading" class="spinner-border visually-hidden" role="status" aria-hidden="true"
                        style="position: absolute;"></span>
                </div>
            </div>
            <!--https://getbootstrap.com/docs/5.1/forms/form-control/?#file-input-->
            <form id="picform">
                <div class="my-2 col-12 col-lg-8 col-md-9">
                    <input id="fileupload" class="form-control form-control-sm" type="file" name="file"
                        accept="image/*">
                </div>
            </form>
            <div id="statusmsg-pic" class="small"></div>
            <button id="removepic" class="btn btn-outline-secondary btn-sm mt-2">
                <span class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
                <span class="btn-text">Remove Profile Picture</span>
            </button>
        </div>
    </div>
    <div>
        <div class="headings text-muted fw-bold">ACCOUNT</div>
        <hr>
    </div>
    <div class="content mb-5">
        <div>
            <span style="font-size: 14px;">Change password</span>
            <!--https://getbootstrap.com/docs/5.1/forms/overview/-->
            <form id="passform" class="mt-1">
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">OLD PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="oldpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="oldpass" name="oldpass">
                            <span class="input-group-text" onclick="showOldPass()"><span class="fa"
                                    id="oldpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">NEW PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="newpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="newpass" name="newpass">
                            <span class="input-group-text" onclick="showNewPass()"><span class="fa"
                                    id="newpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-lg-2 col-md-3 col-form-label col-form-label-sm text-muted"
                        style="font-size: 12px;">CONFIRM NEW PASSWORD</label>
                    <div class="col-12 col-md-6">
                        <!-- <input type="password" class="passbox form-control form-control-sm" name="confirmpass"> -->
                        <div class="input-group input-group-sm">
                            <input type="password" class="form-control form-control-sm" id="confirmpass"
                                name="confirmpass">
                            <span class="input-group-text" onclick="showConfirmPass()"><span class="fa"
                                    id="confirmpassicon">&#xf06e;</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-3"></div>
                    <div class="col-10 col-md-6">
                        <button id="chngpassbtn" type="submit" class="btn btn-outline-secondary btn-sm">
                            <span class="spinner-border spinner-border-sm visually-hidden" role="status"
                                aria-hidden="true"></span>
                            <span class="btn-text">Save</span></button>
                        <label class="mx-1" id="statusmsg-pass" style="font-size: 14px;"></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <div class="headings text-muted fw-bold">DEACTIVATE ACCOUNT</div>
        <hr>
    </div>
    <div class="content mb-5">
        <div>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#deactivateModal">
                <span style="font-size: 12px;">DEACTIVATE ACCOUNT</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}
<!--https://getbootstrap.com/docs/5.1/components/modal/-->
<div class="modal" id="deactivateModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="{{url_for('deactivateaccount')}}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label col-form-label-sm">Are you sure? This action will permanently remove
                        your access to the account "<strong>{{username}}</strong>".</label>
                    <ul class="small">
                        <li>The creation of the same username will not be eligible.</li>
                        <li>All posts, comments you've made will remain on the forum.</li>
                    </ul>
                    <label class="col-form-label col-form-label-sm">Please type "<strong>{{username}}</strong>" to
                        confirm.</label>
                    <input type="text" class="form-control form-control-sm" id="confirmation" name="confirmation">
                </div>
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-outline-primary btn-sm rounded-pill p-2"
                        data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-danger btn-sm rounded-pill p-2" id="confirmationbtn"
                        disabled>DEACTIVATE</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}